*{
    margin: 0px;
    padding: 0px;
    font-family: play;
    color: white;
}
:root{
    --hightRezultColor1: #DDA1A1;
    --hightRezultColor2: #E2FFDE;
    --hightRezultColor3: #638759;
    --hightRezultColor4: #D0FFBF;
    --normalRezultColor1: #B15353;
    --normalRezultColor2: #97782A;
    --normalRezultColor3: #7C5F1F;
    --normalRezultColor4: #E7D218;
    --badRezultColor1: #6F0202;
    --badRezultColor2: #4A0D0D;
    --badRezultColor3: #731515;
    --badRezultColor4: #AC1313;
}
body{
    background: linear-gradient(to top left,#372E2E,#492626);;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

main{
    height: calc(100vh - 72px);
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 0px;
}
main::-webkit-scrollbar{
    width: 10px;
}
main::-webkit-scrollbar-track{
    background-color: #151515;
}
main::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #FECFCF;
}

.section{
    font-size: 16pt;
    background-color: #151515;
    display: flex;
}
.header{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 72px;
    justify-content: space-between; 
    align-items: center;
}
.nav-link{
    margin: 0px 40px;
}

.hover-cursor-pointer:hover{
    cursor: pointer;
}
.no-style-a{
    text-decoration: none;
    color: inherit;
}

.no-style-ul{
    list-style: none;
}

.color-block-container{
    display: flex;
}

.list-item{
    display: flex;
    align-items: center;
}
.color-block{
    width: 40px;
    height: 20px;
}

.color-good{
    background-color: var(--hightRezultColor1);
}
.color-normal{
    background-color: var(--normalRezultColor1);
}
.color-bad{
    background-color: var(--badRezultColor1);
}

.list-element{
    margin-left: 20px;
    margin-right: 60px;
}


.grid-section{
    width: calc(100% - 110px);
    padding: 0px 55px;
    height: fit-content;
    flex-direction: column;
}
.rtl-gradient{
    background: linear-gradient(to bottom right,#372E2E,#492626);
}
.lrt-gradient{
    background: linear-gradient(to top left,#372E2E,#492626);
}

.align-self-center{
    align-self: center;
}
.justify-self-center{
    justify-self: center;
}
.pt20{
    font-size: 20pt;
}




#playersGridSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tableContainer{
    width: 40%;
    overflow-x: auto; /* Включает горизонтальную прокрутку */
    -webkit-overflow-scrolling: touch;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}
.line{
    width: 100%;
    height: 23px;
    display: block;
    background-color: #151515;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f4f4f430;
    font-weight: bold;
  }
  .hightRezult{
    background-color: var(--hightRezultColor1);
  }
  .normalRezult{
    background-color: var(--normalRezultColor1);
  }
  .badRezult{
    background-color: var(--badRezultColor1);
  }
.tableContainer{
    width: 40%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}
.tableContainer::-webkit-scrollbar{
    height: 10px;
}
.tableContainer::-webkit-scrollbar-track{
    background-color: #151515;
}
.tableContainer::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #FECFCF;
}
@media (max-width: 480px) {
    .tableContainer{
        width:calc(100% - 10%); 
    }
}
.gamesTable{
    width: 100%;
}
.gamesTable table{
    border-collapse: collapse;
}
  
.tdCenter{
    text-align: center;
}
.stageTable{
    width: calc(100% - 10%);
  }

  footer{
    height: 95px;
    width: 100%;
    background-color: #151515;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
}
.no-style-a{
    text-decoration: none;
    color: inherit;
}
.a-text-color{
    color: rgb(255, 94, 94);
}

.loading{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.hidden{
    display: none;
}
.loadText{
    font-size: 30pt;
}
