body, form{
    height: 100vh;
    width: 100vw;
}
@keyframes spinAnim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.rotate{
    animation: spinAnim .5s linear infinite;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    display: flex;
    justify-content: space-between;
}
input{
    width: 100px;
}
label{
    margin-bottom: 20px;
}
.main_section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
#animunit{
    display: flex;
    align-self: center;
    margin-top: 20px;
}
#icon{
    font-size: 70pt;
}